:root {
    --mainColor: #1F2937;
    --mainTextColor: #F9FAF8;
    --secondaryTextColor: #E5E7EB;
    --buttonColor: #3882F6;
    --infoAndQuote: #1F2937;
    --quoteBackground: #E5E7EB;
}

img {
    width: 100px;
    height: auto;
}

.navigation-container {
    display: flex;
    justify-content: space-between;

}

nav a {
    color: var(--secondaryTextColor);
    text-decoration: none;
}

.hero {
    background-color: var(--mainColor);
    /* width: 50%; */
}

.nav-container {
    display: flex;
    gap: 2rem;
    position: relative;
    right: 20px;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    width: 70%px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--mainTextColor);
}

.header-text p {
    color: var(--secondaryTextColor);
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}


.header img {
    width: 360px;
    height: auto;
    position: relative;
    margin-right: 20px;
    
}

.header-text {
    text-align: center;
    margin-left: 20px;
}


button {
    text-decoration: none;
    border: none;
    background-color: var(--buttonColor);
    color: var(--mainTextColor);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.header-text p {
    text-align:justify;
    width: 350px;
    margin-left: 30px;
}

.information {
    color: var(--infoAndQuote);
    font-size: 35px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.images div {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

div img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

div p {
    text-align: center;
}

div .ruby {
    width: 100px;
    height: auto;
    align-self: center;
}

#info-section {
    background-color: white;
}

body {
    background-color: black;
}

#quote-section {
    background-color: var(--quoteBackground);
    width: 867.6px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



footer {
    background-color: var(--mainColor);
    width: 867.6px;
    height: 50px;
}

footer p {
    color: var(--secondaryTextColor);
}

.quote {
    font-size: 36px;
    text-align: center;
    font-style:italic;
    font-weight: lighter;
}

#blue-section{
    background-color: white;
    width: 867.6px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-section div {
    height: 100px;
    width: 600px;
    background-color: var(--buttonColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


div h3 {
    color: white;
}

#blue-section div button {
    border: 0.5px solid white;
    height: 50px;
    margin-right: 20px;
}

.blue-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    /* flex-wrap: wrap; */
}

.blue-box-text h3 {
    margin-top: 20px;

}

.blue-box-text p {
    margin-top: 0;
    color: white;
    font-size: 14px;
    margin-bottom: 14px;
}
